language: rust
sudo: false
script:
  - cargo build --verbose && cargo test --verbose && cd bf_bf_interpreter && cargo build --verbose && cargo test --verbose
notifications:
    webhooks: http://huon.me:54856/travis
